{% extends 'base.html.twig' %}


{% block body %}
<h1>Lista de Estudiante</h1>

<lu>
    {% for estudiante in estudiantes %}
         <li> {{ estudiante.nombre }} </li>
    {% endfor %}
</lu>
{% endblock %}
